.bdatepicker input[type='text']{
	background: url('/work/datePicker/calendar-icon.png');
    background-repeat: no-repeat;
    width: 20%;
    background-position: 90%;

}

.calender-block{
	border:1px solid green;
	height: 270px;
	width: 280px; 
	position: absolute;
}
.calender-hidden{
	display: none;
}

.calender-header{
	height: 40px;
	border: 1px solid red;
}
.calender-header .previous-button{
	background: url('/work/datePicker/Previous-icon.png');
	background-repeat: no-repeat;
	background-position: 0em;
	width: 16%;
    background-color: aqua;
    height: 40px;
    left: 0px;
    position: absolute;
    cursor: pointer;
}
.calender-header .month-year{
	width: 68%;
    position: absolute;
    height: 40px;
    /* vertical-align: middle; */
    text-align: center;
    top: 12px;
    left: 16%;
}
.calender-header .next-button{
	background: url('/work/datePicker/Next-icon.png');
	background-repeat: no-repeat;
	background-position: 1em;
	width: 16%;
    background-color: aqua;
    height: 40px;
    right: 0px;
    position: absolute;
    cursor: pointer;
}

.calender-body table th,td{
	padding: 0.4em 0.5em 0.4em 0.5em;
}
.calender-body-table-td-hover{
	cursor: pointer;
	border: 1px solid black;
}
.body-display-true{
	display: block;
}
.body-display-false{
	display: none;
}
.calender-body-month{

}
.calender-body-year{
	
}